<!-- 
    File name = footer.pug
    Author name = Lokesh Thummala
    web site name = surveys-site
    file description = This is footer file to our website.
-->
<!-- ................FOOTER SECTION................... -->
#footer
    .container
        .row
            p &copy; 2019 | All Right Reserved

