head
    

    <!-- Meta Prerequisites + viewport --> 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')

    <!--MY CUSTOM STYLE -->
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--BOOTSTRAP MAIN STYLES, link downloaded from:https://getbootstrap.com/docs/3.3/getting-started/ -->
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

    <!--GOOGLE FONTS -->
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet')

    

    
body
    <!-- .............................NAVIGATION SECTION....................... -->
    .navbar.navbar-inverse
      .container
        .navbar-header
           <a href="/">  <img src="/images/logo1.png"> </a>
        .collapse.navbar-collapse
          
          ul.nav.navbar-nav.navbar-right
            if isAuthenticated
              li
                .dropdown
                    button.dropbtn MY ACCOUNT
                      .dropdown-content
                        <a href="/edit"><span class="glyphicon glyphicon-edit"></span> EDIT</a>
                        <a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
                     
            else
              li
                <a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a>
              li
                <a href="/register"><span class="glyphicon glyphicon-user"></span> SIGN UP</a>
          ul.nav.navbar-nav
            li
              a(href="/") HOME
            li
              a(href="/about") ABOUT
            li
              a(href="/create") CREATE