doctype html
html
  
    include ./partials/header
    title ABOUT

    #aboutPage
    .container
        p This online survey form is not your ordinary online survey form. This website's survey templates can be customized with the questions and fields you want included. Our analytics tool will help you quickly tabulate results, and because our surveys live in the cloud, you’ll never have to worry about losing responses. Best of all, you don’t have to be a programmer to use a survey template–they’re easy and straightforward to send out. But if you are a programmer, you’ll love the behind-the-scenes functionality our online surveys provide.