<!-- 
    File name = edit.pug
    Author name = Lokesh Thummala, Huashan, Kengo, Nestor
    web site name = https://surveys-site.herokuapp.com/
    file description = This is edit an account to the website.  -->
doctype html
html
  
    include ./partials/header
    title EDIT
<!-- ................Edit page................... -->

    #editPage
        block content
            .container
                h1 Please Enter Your New Details

                form(method="POST")
                    .form-group
                        label Username
                        input.form-control(name="username"  type="text" required='')
                    .form-group
                        label Email
                        input.form-control(name="email" type="email" required='')
                    .form-group
                        label Password
                        input.form-control(name="password" type="password")
                    
                    button.btn.btn-primary(type="submit") EDIT
<!-- ................FOOTER SECTION................... -->
    #footer
        p &copy; 2019 | All Right Reserved