doctype html
html
  
    include ./partials/header
    title FORM CREATED

block variables
 - var formLink= "/preview/" + formId
 - var statLink = "/stats/" + formId

.container
    block content
        h4 Your Form has been created
        h3 Your survey form id is #{formId}
        
        p To see statistics for this form, goto 
            a(href=statLink) this link

        p Your form link is 
            a(href=formLink) this
            span.
                . Copy the link and share your survey. 
                