<!-- 
    File name = layout.pug
    Author name = Lokesh Thummala, Huashan, Kengo, Nestor
    web site name = https://surveys-site.herokuapp.com/
    file description = This is layout file to the website.  It has layout for all pages -->
doctype html
html
  
    include ./partials/header
    title HOME

  

    <!-- ...........................HOME SECTION......................... -->
    block content
        #header-section
        .container
            .row.centered
            .col-md-8.col-md-offset-2
                h1 <strong></strong>
                br
                br
                br
                h2 Welcome to <strong id="name">Survey Site </strong>. You can create your own survey.</h2>
                br
                br
                br
                br
                br
                br
                br
                <a class="bounce" href="/"><button type="submit" class="btn btn-success btn-lg">Create Your Form</button></a>
    
    <!-- ................FOOTER SECTION................... -->
    #footer
        p &copy; 2019 | All Right Reserved