block variables
doctype html
html
    include ./partials/header

    block heading
        nav#navigation.navbar.navbar-inverse
            div.container-fixed
                div.navbar-header
                    a(href="/").navbar-brand Survey Site
                ul#navigation.nav.navbar-nav
                    li
                        a(href="/create") Create Form
                    li
                        a(href="/about") About & Contact
                    li
                        a(href="/policy") Privacy Policy

                    li
                        a(href="views/login.pug") Login

                    li 
                        a(href="/registration") Registration
